*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    
   
}
#title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
#description {
    text-align: center;
    font-weight: bold;
    color:white;
    padding: 10px 2px;
}
#survey-form {
   position: relative;
   left: 300px;
   width: 400px;
   background-color: white;
   color: black;
   padding: 20px 15px;
   margin-top: 20px;
   box-shadow: -10px -10px 10px 3px;
   
}
#submit {
    background-color: coral;
    color: black;
    padding: 14px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 20px;
}
#submit:hover{
    border: 2px solid black;
}
@media screen and (max-width:600px){
    #survey-form{
        width: 300px;
        position: relative;
        left:0;
    }
}